<form class="form-group form-center">
  <label for="citizenId">Citizen ID</label>
  <input id="citizenId" [(ngModel)]="citizenId" name="citizenId" placeholder="Citizen ID" />

  <div style="height: 16px;"></div>

  <div class="flex-buttons" style="flex-direction: column; gap: 12px;">
    <button type="button" (click)="retrieveAccount()">Retrieve Account</button>
    <button type="button" (click)="createAccount()" [disabled]="!customer">Create Account</button>
  </div>

  <div *ngIf="createMessage" class="success-message">{{ createMessage }}</div>
  <div *ngIf="createError" class="error-message">{{ createError }}</div>
</form>

<div *ngIf="customer" class="container">
  <h3 class="mt-0">Customer Info</h3>
  <div><strong>Id:</strong> {{ customer.citizenId }}</div>
  <div><strong>Thai Name:</strong> {{ customer.accountHolderNameTh }}</div>
  <div><strong>English Name:</strong> {{ customer.accountHolderNameEn }}</div>
  <div>
    <strong>Accounts:</strong>
    <ul class="account-list">
      <li *ngFor="let acc of customer.accounts">{{ acc.accountNumber }}</li>
    </ul>
  </div>
</div>
<div *ngIf="retrieveError" class="error-message text-center mt-12">{{ retrieveError }}</div>