<form #accountForm="ngForm">
  <h1>Your Account</h1>
  <div *ngIf="accounts.length > 0; else noAccounts">
    <h1>Available Accounts:</h1>
    <ul>
      <li 
        *ngFor="let account of accounts" 
        (click)="selectedAccount = account"
        [class.selected]="selectedAccount === account"
        class="account-item"
      >
        {{ account.accountNumber }}
        <span *ngIf="selectedAccount === account">✔</span>
      </li>
    </ul>
  </div>
  <ng-template #noAccounts>
    <p>No accounts available. Please visit the bank for assistance.</p>
  </ng-template>
  
  <div class="navigation-buttons">
    <button 
      [disabled]="!selectedAccount" 
      (click)="navigateToTransferFunds(selectedAccount)">
      Transfer Funds
    </button>
    <button 
      [disabled]="!selectedAccount" 
      (click)="navigateToBankStatement(selectedAccount)">
      Retrieve Bank Statement
    </button>
  </div>
</form>